.hero__dancer {
    position: absolute;
    top: 0%;
    right: 40%;
    z-index: var(--layer-negative);
}

@media(width > 1270px){
    .hero__dancer{
        width: 700px;
        transform: translate(200px, -200px);
    }
}

@media(width <= 1270px){
    .hero__dancer{
        width: 450px;
        transform: translate(100px, 70px);
    }
}

@media(width <= 992px){
    .hero__dancer{
        width: 450px;
        transform: translate(20px, 180px);
    }
}

@media(width <= 768px){
    .hero__dancer{
        width: 400px;
        transform: translate(0px, 115px);
    }
}

@media(width <= 600px){
    .hero__dancer{
        width: 350px;
        transform: translate(87px, 170px);
    }
}


.hero__dancer-img{
    display: block;
    width: 100%;
}