@media (width > 768px) {
    .hero__contact-us {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-item-align: end;
            align-self: flex-end;
        gap: 37px;
    }
}
@media (width <= 768px) {
    .hero__contact-us{
        display: none;
    }
}

@media (width > 1270px) {
    .hero__contact-us {
        right: 75px;
        bottom: 54px;
    }
}

@media (width <= 1270px) {
    .hero__contact-us {
        right: 15px;
        bottom: 15px;
    }
}

.hero__contact-us-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    border-radius: 50%;
    background: linear-gradient(
        217.04deg,
        #ffc619 21.5%,
        #f69020 48.98%,
        #ec5128 80.77%
    );
}

@media (width > 1270px) {
    .hero__contact-us-link {
        height: 83px;
        width: 83px;
    }
}

@media (width <= 1270px) {
    .hero__contact-us-link {
        height: 60px;
        width: 60px;
    }
}
@media (width <= 992px) {
    .hero__contact-us-link {
        height: 50px;
        width: 50px;
    }
}

@media (any-hover: hover) {
    .hero__contact-us-link:hover .hero__contact-us-icon {
        fill: var(--main-color);
    }
    .hero__contact-us-link:hover + .hero__contact-us-text {
        color: var(--main-color);
    }
}

.hero__contact-us-icon {
    -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
            transform: translateX(-2px);
    fill: #2c383f;
    -webkit-transition: fill var(--transition-time);
    transition: fill var(--transition-time);
}

.hero__contact-us-text {
    font-weight: 700;
    font-size: 9px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--accent-color);
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -webkit-transition: color var(--transition-time);
    transition: color var(--transition-time);
}

@media (width <= 1270px) {
    .hero__contact-us-text {
        display: none;
    }
}