:root {
  /* font-family */
  --font-family: "Muller", sans-serif;

  /* colors */
  --bg-color: #191B20;
  --bg-secondary-color: #131517;
  --bg-secondary-color-alpha: #13151766;
  --bg-accent-color:#282b32;
  --secondary-color: #202124;
  --main-color: #fff;
  --main-color-alpha:#ffffff12; 
  --primery-color: #c5c5c5;
  --accent-color: #f69020;
  --gray-color:#606571;
  --color-dark:#000;
  --text-accent:#ffc619;
  --button-bg:#2e3441;

  /* container */
  --container-width: 1818px;
  --container-padding: 15px;

  /* transitions */
  --transition-time: .2s;

  /* layers */
  --layer-negative:-1;
  --layer-negative-2:-2;
  --layer-0:0;
  --layer-1:1;
  --layer-2:2;
  --layer-3:3;
  --layer-4:4;
}
/* !ПЕРЕИМЕНОВАТЬ */

/* background: #343a3e; */
/* #ffc6194d */
/* #2C383F */
/* #c5c5c5; */
 /* #34373f; */
 /* #343740 */

131517