.advantages {
    z-index: var(--layer-negative);
    background-color: var(--bg-color);
}

.advantages__container {
    position: relative;
}

.advantages__container::before,
.advantages__container::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #ffffff0a;
    height: 100%;
    top: 0;
}

.advantages__container::before {
    left: 149px;
}
.advantages__container::after {
    right: 169px;
}

@media (width > 992px) {
    .advantages__container {
        padding-block: 97px 110px;
    }

    .advantages__container::before,
    .advantages__container::after {
        display: block;
    }

    .advantages__title {
        margin-bottom: 43px;
    }
    .advantages__subtitle {
        margin-bottom: 66px;
    }
}

@media (width <= 992px) {
    .advantages__container {
        padding-block: 61px 54px;
    }
    .advantages__title {
        margin-bottom: 33px;
    }
    .advantages__subtitle {
        margin-bottom: 49px;
    }

    .advantages__container::before,
    .advantages__container::after {
        display: none;
    }
}

.advantages__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (width <= 992px) {
    .advantages__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

.advantages__grid {
    display: -ms-grid;
    display: grid;
    max-width: 1359px;
    z-index: var(--layer-4);
}

@media (width > 1270px) {
    .advantages__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width <= 1270px) {
    .advantages__grid {
        grid-template-columns: repeat(2, 1fr);
        max-width: 900px;
    }
}

@media (width > 992px) {
    .advantages__grid {
        gap: 30px;
    }
}

@media (width <= 992px) {
    .advantages__grid {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
        max-height: 900px;
        gap: 30px 0;
        margin-bottom: 58px;
    }
}

@media (width <= 768px) {
    .advantages__grid {
        max-height: 657px;
        row-gap: 12px;
    }
}

@media (width <= 480px) {
    .advantages__grid {
        max-height: 729px;
    }
}

.advantages__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

@media (width > 1270px) {
    .advantages__card {
        padding: 49px 31px 38px 51px;
    }

    .advantages__card:nth-child(odd) {
        background-color: var(--secondary-color);
    }
    .advantages__card:nth-child(even) {
        background-color: var(--bg-accent-color);
    }
}

@media (width <= 1270px) {
    .advantages__card {
        padding: 30px 20px 30px 30px;
    }

    .advantages__card:nth-child(1),
    .advantages__card:nth-child(4),
    .advantages__card:nth-child(5) {
        background-color: var(--bg-accent-color);
    }
    .advantages__card:nth-child(2),
    .advantages__card:nth-child(3),
    .advantages__card:nth-child(6) {
        background-color: var(--secondary-color);
    }
}

@media (width <= 992px) {
    .advantages__card {
        width: calc(90% / 2);
        min-width: 156px;
    }
    .advantages__card:nth-child(1),
    .advantages__card:nth-child(3),
    .advantages__card:nth-child(4) {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .advantages__card:nth-child(2),
    .advantages__card:nth-child(5),
    .advantages__card:nth-child(6) {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}

@media (width <= 768px) {
    .advantages__card {
        padding: 16px 9px 17px 18px;
    }
}

.advantages__card-icon {
    margin-bottom: 30px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

@media (width > 768px) {
    .advantages__card-icon {
        margin-bottom: 30px;
    }
}

@media (width <= 768px) {
    .advantages__card-icon {
        margin-bottom: 12px;
        width: 44px;
        height: 44px;
    }
}

.advantages__card-title {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 16px;
}

.advantages__card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}

@media (width > 768px) {
    .advantages__card-list {
        gap: 10px;
    }
}

@media (width <= 768px) {
    .advantages__card-list {
        gap: 20px;
    }
}

.advantages__card-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #c5c5c5;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

@media (width > 768px) {
    .advantages__card-item {
        font-size: 16px;
        line-height: 1.5;
    }
}

@media (width <= 768px) {
    .advantages__card-item {
        font-size: 13px;
        line-height: 1.38462;
    }
}

.advantages__card-item::before {
    content: "";
    display: block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background-image: url("../../icons/checked-sm-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.advantages__card-item--accent,
.advantages__card-item-strong {
    font-weight: 700;
    color: var(--accent-color);
}

.advantages__underlay {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 0;
}

@media (width <= 992px) {
    .advantages__underlay {
        background: transparent;
    }
}

.advantages__reservation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

@media (width > 992px) {
    .advantages__reservation {
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
    }
}

@media (width <= 992px) {
    .advantages__reservation {
        -ms-flex-item-align: start;
            align-self: flex-start;
    }
}

@media (width <= 480px) {
    .advantages__reservation {
        -ms-flex-item-align: stretch;
            -ms-grid-row-align: stretch;
            align-self: stretch;
    }
}

.advantages__bg-wrapper {
    position: absolute;
    width: 100%;
    z-index: var(--layer-negative-1);
}

@media (width > 1270px) {
    .advantages__bg-wrapper {
        left: 63%;
    }
}

@media (width <= 1270px) {
    .advantages__bg-wrapper {
        left: 50%;
    }
}

@media (width > 992px) {
    .advantages__bg-wrapper {
        max-width: 787px;
        max-height: 783px;
        bottom: 110px;
    }
}

@media (width <= 992px) {
    .advantages__bg-wrapper {
        left: 29%;
        max-width: 286px;
        bottom: 0;
    }
}

@media (width <= 768px) {
    .advantages__bg-wrapper {
        left: 27%;
    }
}

@media (width <= 576px) {
    .advantages__bg-wrapper {
        left: -60px;
        bottom: -30px;
    }
}

.advantages__img-wrapper-wall {
    overflow: hidden;
    display: block; 
    mix-blend-mode: lighten;
    opacity: 0.9;
    z-index: -1;
    -webkit-box-shadow: inset 0 0 74px 42px var(--bg-color);
            box-shadow: inset 0 0 74px 42px var(--bg-color);
}


.advantages__bg-img-wall {
    display: block;
}

.advantages__img-wrapper-microphone {
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: var(--layer-3);
}

@media (width > 992px) {
    .advantages__img-wrapper-microphone {
        max-width: 450px;
    }
}

@media (width <= 992px) {
    .advantages__img-wrapper-microphone {
        max-width: 190px;
    }
}

@media (width <= 576px) {
    .advantages__img-wrapper-microphone {
        max-width: 163px;
    }
}


.advantages__button-reservation{
    z-index: var(--layer-3);
}

@media (width > 992px) {
    .advantages__button-reservation {
        margin-left: clamp(20px, -15.1788rem + 20.6977vw, 109px);
    }
}

@media (width <= 480px) {
    .advantages__button-reservation {
        width: 100%;
    }
}