.navigation-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color:var(--button-bg);
    border-radius: 50%;
    cursor: pointer;
}

@media (width > 768px) {
    .navigation-button {
        width: 70px;
        height: 70px;
    }
}

@media (width <= 768px) {
    .navigation-button {
        width: 52px;
        height: 52px;
    }
}

@media (any-hover: hover) {
    .navigation-button:hover .navigation-button__icon {
        stroke: var(--accent-color);
    }
}

.navigation-button--next .navigation-button__icon {
    -webkit-transform: translate(1px, 0) rotate(-180deg);
        -ms-transform: translate(1px, 0) rotate(-180deg);
            transform: translate(1px, 0) rotate(-180deg);
}


.navigation-button--disabled {
    background-color: transparent;
    border: 1px solid var(--button-bg);
    pointer-events: none;
}

.navigation-button__icon {
    stroke: var(--gray-color);
    -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
            transform: translateX(-2px);
    -webkit-transition: stroke var(--transition-time);
    transition: stroke var(--transition-time);
}

@media (width > 768px) {
    .navigation-button__icon {
        width: 16px;
        height: 20px;
    }
}

@media (width <= 768px) {
    .navigation-button__icon {
        width: 10px;
        height: 15px;
    }
}


@media(width > 992px){
    .navigation-button--mobile-visible{
        display: none;
    }
    .navigation-button--desktop-visible{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media(width <= 992px){
    .navigation-button--mobile-visible{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .navigation-button--desktop-visible{
        display: none;
    }
}
