.underlay {
    position: absolute;
    z-index: var(--layer-negative);
    width: 100%;
    bottom: 0;
    top: 0;
    background: linear-gradient(
        180deg,
        rgba(96, 101, 113, 0) 0%,
        rgba(96, 101, 113, 0.05) 100%
    );
}

.underlay--reservation {
    background: none;
}

@media (width <= 1062px) {
    .underlay--reservation {
        display: none;
    }
}

@media (width > 1270px) {
    .underlay.underlay--hero::before {
        height: 98%;
        bottom: 0;
    }

    .underlay.underlay--hero::after {
        height: calc(100% + 133px);
        /* height: calc(100% + clamp(0.125rem, -19.6265rem + 24.8837vw, 6.8125rem)); */
        bottom: 0;
    }
}

@media (width <= 1270px) {
    .underlay.underlay--hero::before {
        height: 100%;
        bottom: 0;
    }

    .underlay.underlay--hero::after {
        height: 100%;
        bottom: 0;
    }
}

.underlay::before,
.underlay::after {
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ffffff0a;
}

.underlay::before {
    left: 0px;
}

.underlay::after {
    right: 0;
}

@media (width > 1270px) {
    .underlay {
        max-width: 504px;
    }
}

@media (width <= 1270px) {
    .underlay {
        max-width: 350px;
    }
}

@media (width <= 768px) {
    .underlay {
        max-width: 233px;
    }
}
